/*
BACKGROUND COLOR
*/

$primary-bkg: #d0d0d0;
$footer-bkg: #555555;


/*
GENERAL COLORS
*/

$footer-color: #979797;
$link-color: #009BA3;
$accent: #009BA3;

body {
  background-color: $primary-bkg;
  //line-height: 1.6em;
  font: 110%/1.5 'Open Sans', Arial, sans-serif;
}

footer {
  
}

a {
  text-decoration: none;
}

ul {
  list-style: outside none none;
}

footer {
  background: #555555;
  color: #979797;
  
  a {
    font-weight: bold;
    color: $accent;
  }
}

.header {
  position: absolute;
  overflow: hidden;
  text-transform: lowercase;
  text-align: left;
  z-index: 2;
  width: 100%;
  left: 0;
  margin: 0;
  padding: 1em 0;
  background-color: rgba(85, 85, 85, 0.5);
  
  a {
    text-decoration: none;
    color: #222;
    padding: .2em;
    
    &:hover {
      background: rgba(153, 153, 153, 0.34);
    }
  }
  
  .logo {
    display: block;
    margin-bottom: .5em;
    text-align: center;
  }
  
  .nav-list {
    text-align: center;
    margin: 0;
    padding: 0;
    
    li {
      text-align: left;
      display: inline-block;
      padding: 0 .5em;
    }
  }
}

.jumbo {
  padding-top: 8em;
  padding-bottom: 3em;
  margin-bottom: 2em;
  text-align: center;
  background: $accent;
  
  h1 {
    text-shadow: 0px 1px 5px #555;
  }
}

.container {
  padding: 0 1em;
  
  .intro {
    background-color: #afa9a9;
    max-width: 80%;
    margin: 0 auto 2em;;
    padding: 1em;
    font-weight: bold;
    
    a {
      color: $accent;
    }
  }
  
  .row {
    .cl-2 {
      
      a {
        color: #070606;
        overflow: hidden;
        display: block;
        text-decoration: none;
        padding: 1em;
        margin: 0 -1em;

        &:hover {
          background-color: #c9c9c9;
        }

        h2 {
          margin-top: 0;
        }

        p:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.footer {
  padding: 2em 0;
  
  img {
    display: block;
    border-radius: 50%;
    margin: 0 auto;
  }
}

/*
BLOG
*/

.post {
  a {
    color: #070606;
    overflow: hidden;
    display: block;
    
    h3 {
      margin: 0 0 .5em;
    }
    
    p {
      margin: 0 0 .5em;;
    }
    
    .date {
      font-size: .8em;
    }
  }
}

/*
WEB DESIGN
*/

.web {
  .row h2 {
    margin-top: 1em;
    margin-bottom: 0;
  }
  .desc {
    font-size: .8em;
    color: #555;
    margin: 0 0 1em;
  }
  
  a {
    color: #070606;
    
    &:hover {
      color: $accent;
    }
  }
  
  .app-img {
    width: 100%;
    max-width: 500px;
    margin: 0 0 1em;
  }
}

/*
VIDEOS
*/

.videos {
  h2 {
    margin-bottom: .6em;
  }
  .video {
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
    max-width: 580px;
    
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-height: 335px;
    }
  }
}

/*
LIVROS
*/

.recomendo {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  background: url('../recursos/book/like.png') !important;
}

.naorecomendo {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  background: url('../recursos/book/dislike.png') !important;
}

.livros {
  overflow: hidden;
    
  .caixa {
    padding: .5em;
    background-color: #c9c9c9;

    h5 {
      margin-top: .3em;
    }

    p:nth-child(2n+2) {
      font-size: .8em;
    }

    p:last-child {
      margin-bottom: 0;
      font-size: .8em;
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }
}
.col-4 {
  padding: 1%;
}




@media screen and (min-width: 650px) {
  
  .header {
    background-color: transparent;
    width: 95%;
    margin: 0 2.5%;
    

    .logo {
      display: block;
      margin-bottom: 0;
      float: left;
    }

    .nav-list {
      float: right;
      text-align: left;

      li {
        text-align: left;
        display: inline-block;
        padding: 0 .5em;
      }
    }
  }
  
  .jumbo {
    padding-top: 4em;
    padding-bottom: 3em;
  }
  
  .container {
    margin: 0 auto;
    max-width: 900px;
    .row {
      overflow: hidden;;

      .cl-2 {

        a {
          width: 46%;
          float: left;
          padding: 2%;
          display: block;
          color: #070606;
          margin: 0;

          h2 {
            margin-top: 0;
          }

          p:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  
  

  .col-4 {
    width: 31.3333333%;
    float: left;
  }
  
  
  .footer {
    clear: both;
  }
}

@media screen and (min-width: 600px) {
  .jumbo {
    h1 {
      font-size: 3em;
    }
  }
  .video {
    padding-bottom: 50% !important;
  }
  
}

@media screen and (min-width: 650px) {
  .video {
    padding-bottom: 45% !important;
  }
}

@media screen and (min-width: 750px) {
  
  .jumbo {
    padding-top: 2em;
    padding-bottom: 1em;
    margin-bottom: 2em;

    h1 {
      font-size: 4em;
    }
  }
  
  .video {
    padding-bottom: 35% !important;
  }
}




