/*
-----------------------------
COLORS
-----------------------------
*/
$primary-color: #152532;
$secondary-color: #FFB016;

$primary-background-color: #F4F4F4;
$secondary-background-color: #eee;

$header-color: #FFB016;
$link-color: #FFB016;



/*
-----------------------------
FONTS
-----------------------------
*/
$title-font-family: "Ultra", serif;
$lead-font-family: "Bree Serif", serif;
$body-font-family: "Source Sans Pro", sans-serif;
$body-font-size: 14px;
$icon-size: 6em;
$banner-font-size: 2em;



/*
-----------------------------
GENERAL
-----------------------------
*/

body {
  font-family: $body-font-family;
  font-size: $body-font-size;
  background: $primary-background-color;
  color: $primary-color;
  position: relative;
  height: 100%;
}

h1 {
  font-size: 1.6em;
}

h1,
h2 {
  font-family: $title-font-family;
}

.lead,
h3 {
  font-family: $lead-font-family;
}

h3 {
  font-size: 1.3em;
}

a:hover {
  text-decoration: none !important;
  background: none !important;
}

.row {
  padding: 2em 0 2em 0;
  
  h2 {
    font-size: 1.5em !important;
  }
  
  .lead {
    margin-bottom: 1.2em;
  }
}

.odd-row {
  background: $secondary-background-color;
  margin: 0 -15px 0 -15px;
}

.hilite {
  color: $secondary-color;
}
/*
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
*/
.disclaimer {
  margin-bottom: 2em;
}

#parallax {
  background: black url('../img/parallax.jpg') no-repeat center;
  background-size: 200%;
  color: $primary-background-color;
  padding-top: 2em;
  padding-bottom: 3em;
  text-align: center;
  margin: 0 -15px 0 -15px;
}

.contact-wrapper {
  text-align: center;
  
  p {
    margin-top: 1em;
  }
}

.footer {
  margin-top: 3em;
}

#servicos,
#sobre,
#trabalhos,
#contato {
  padding-top: 60px;
  margin-top: -60px;
}

/*
-----------------------------
BANNER
-----------------------------
*/

.heading {
  height: 100vh;
  background: $primary-color url('../img/header.jpg') 500px -200px/500px 500px no-repeat fixed;
  background-size: 100%;
  color: $secondary-color;
  
  h1 {
    font-size: 8vh; /* $banner-font-size */
    margin-bottom: 1em;
  }
  
  .arrow {
    color: $secondary-color;
    font-size: inherit;
    margin-right: 1em;
  }
  
  a {
    color: inherit;
  }

  .center-header {
    position: relative;
    margin-top: 20vh; /*5*/
  }
}



/*
-----------------------------
NAVIGATION
-----------------------------
*/

nav {
  border-bottom: 1px solid $primary-color;
  position: relative;
  width: 100%;
  
  .row {
    padding: 0 0 0 0;
  }
  
  ul {
    margin-top: 0.8em;
    
    li a {
      color: $primary-color !important;
      background: none !important;
      
      &:hover {
        color: inherit;
      }
    }
  }
}

.nav li.active a {
  background: none;
  border-bottom: 2px solid $secondary-color;
  color: $primary-color;
  border-radius: 0;
  
  &:hover {
    color: inherit;
    background: none !important;
  }
} /* ADDED 19/01/15 - SCROLLSPY */

.stuck {
  background: none repeat scroll 0 0 $primary-background-color;
  position: fixed;
  top: 0;
  z-index: 999;
}

.logo {
  margin: 20px 0;
}

.visible-xs {
  margin-top: 1em;
}

.icon-menu {
  font-size: 1.5em !important;
}



/*
-----------------------------
INPUTS & BUTTONS
-----------------------------
*/

input,
textarea {
  border: 2px solid $primary-color !important;
  background: transparent !important;
  color: $primary-color !important;
}

#btn-send {
  width: 100%;
  background: $primary-color !important;
  color: $secondary-color !important;
  border-radius: 5px !important;
  
  &:hover,
  &:active,
  &:focus {
    text-decoration: none !important;
  }
}

.btn-success,
.btn-success:hover,
.btn-success:focus {
  background: $secondary-color !important;
  border-color: $secondary-color !important;
  color: $primary-color;
}


/*
-----------------------------
ICONS
-----------------------------
*/

span[class^=icon],
a[class^=icon] {
  font-size: $icon-size;
  color: $primary-color;
  text-decoration: none;
  
  &:hover,
  &:active,
  &:focus {
    text-decoration: none !important;
  }
}



/*
-----------------------------
MODAL
-----------------------------
*/

.modal {
  color: $primary-color;
}



/*
-----------------------------
TIPS
-----------------------------
*/

.tip {
  background: $secondary-color;
  padding: 2.5em;
  position: relative;
  border-radius: 3px;
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  
  &:before {
    position: absolute;
    display: inline-block;
    border-left: 20px solid transparent;
    border-top: 15px solid $secondary-color;
    border-right: 20px solid transparent;
    left: 50%;
    margin-left: -20px;
    bottom: -15px;
    content: "";
  }
}

.overlay {
    display: none;
}

#my-photo {
  margin: 0 auto;
  margin-bottom: 1.2em;
  max-width: 50%;
}

/*
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
  #parallax {
    background: black url('../img/parallax.jpg') no-repeat fixed center;
  }
  
  .heading {
    h1 {
      font-size: 8vh;
      margin-bottom: .2em;
    }
    
    .center-header {
      margin-top: 20vh; /* 10vh */
    }
  }
  
  .row {
    h2 {
      font-size: 2em !important;
    }

    
    h3 {
      font-size: 1.6em;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #parallax {
    background-size: 150%;
  }
  
  .heading {
    h1 {
      font-size: 8vh; /* 5em */
      margin-bottom: .2em;
    }
    
    .center-header {
      margin-top: 25vh; /* 15vh */
    }
  }
  
  .row {
    h2 {
      font-size: 3em !important;
    }
  }
  
  /*
  -----------------------------
  GALLERY
  -----------------------------
  */

  .thumbnail {
    position: relative;
    height: 100%;
    width: 100%;
    
    &:hover .overlay {
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      padding-top: 1em;
      top: 0;
      left: 0;
      opacity: 0.8;
      z-index: 4;
      transition: all 0.3s ease-in-out 0s;
      background: $secondary-color;
    }
  }

  .overlay {
    display: none;
  }
  
  #my-photo {
    max-width: 100%;
  }
}

/* Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  body {
    line-height: 2em;
  }
  
  h1 {
    font-size: 2em;
  }
  
  nav ul {
    margin-top: 0.8em;
  }
  
  .heading {
    h1 {
      font-size: 6em;
      margin-bottom: .2em;
    }
    
    .center-header {
      margin-top: 33vh;
    }
  }
  
  #parallax {
    background-size: 100%;
  }
  
  .row {
    h2 {
      font-size: 4em !important;
    }
    
    .lead {
      margin-bottom: 2em;
    }
  }
  
  .thumbnail:hover .overlay {
    padding-top: 2.3em;
  }
  
}

/*
============================================
PAGE RESPONSIVE
============================================
*/

#test {
  
  .parallax-responsive {
    background: black url('../img/parallax2.jpeg') no-repeat fixed center;
    /* 0 -100px/500px 100px no-repeat fixed; */
    background-size: 100%;
    color: $primary-background-color;
    text-align: center;
    padding-top: 4em;
    padding-bottom: 6em;
    height: 100vh;

    .hilite {
      font-size: 2em;
      display: inline-block;
      margin-top: 0.3em;
      margin-bottom: 1em;
    }

    input {
      margin-top: 0.5em;
      width: 100%;
      padding: 0.3em 0.3em 0.3em 0.8em;
      background: #eee !important;
      font-size: 2em;
    }

  }

  .btn-responsive {
    width: 25%;
    margin-top: 2em;
    background: $secondary-color !important;
    color: $primary-color;
    padding: 0.6em 0.6em 0.6em 1.6em;
  }

    .btn-link {
      color: $primary-color;
      background: $secondary-color;
      margin-top: 2em;
    }

    footer {
      margin: 2em 0 2em 0;
    }
}

.cta {
  background: url('../img/responsive-parallax.jpg') no-repeat fixed center;
}

.center-cta {
  padding: 2em 0 4em 0;
}


/*
============================================
PAGE RESPONSIVE 2
============================================
*/

#test2 {
  
  .first-blue {
    padding: 3em 0 3em 0;
    background: #44A2C0;
    font-size: 1.5em;
    
    span {
      margin-top: .6em;
      display: inline-block;
    }
    
    .hilite {
      font-size: 1.5em;
      color: #f4f4f4;
    }
  }
  
  .second-dark {
    background: $primary-background-color;
    color: $primary-color;
    
    div > p {
      font-size: 1.2em;
    }
    
    .logos {
      margin-top: -1.5em;
    }
    
    .amazon {
      margin-top: -1.5em;
    }
    
  }
  
  .third-yellow {
    background: $secondary-background-color;
    color: $primary-color;
    text-align: center;
    
    input {
      width: 70%;
      padding: 0.3em 0.3em 0.3em 0.8em;
      background: #eee !important;
      font-size: 2em;
    }
    
    .btn-responsive {
      width: 25%;
      margin-top: 2em;
      background: $primary-color;
      color: #f4f4f4;
      padding: 0.6em 0.6em 0.6em 0.6em;
      text-decoration: none;
    }
  }
  
  footer {
    padding: 2em 0;
  }
  
  .btn-cta,
  .btn-cta:hover,
  .btn-cta:active,
  .btn-cta:focus {
    text-decoration: none;
    color: $primary-color !important;
    background: $secondary-color !important;
  }  
}



























