/*
-----------------------------
COLORS
-----------------------------
*/
/*
-----------------------------
FONTS
-----------------------------
*/
/*
-----------------------------
GENERAL
-----------------------------
*/
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  background: #F4F4F4;
  color: #152532;
  position: relative;
  height: 100%; }

h1 {
  font-size: 1.6em; }

h1,
h2 {
  font-family: "Ultra", serif; }

.lead,
h3 {
  font-family: "Bree Serif", serif; }

h3 {
  font-size: 1.3em; }

a:hover {
  text-decoration: none !important;
  background: none !important; }

.row {
  padding: 2em 0 2em 0; }
  .row h2 {
    font-size: 1.5em !important; }
  .row .lead {
    margin-bottom: 1.2em; }

.odd-row {
  background: #eee;
  margin: 0 -15px 0 -15px; }

.hilite {
  color: #FFB016; }

/*
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
*/
.disclaimer {
  margin-bottom: 2em; }

#parallax {
  background: black url("../img/parallax.jpg") no-repeat center;
  background-size: 200%;
  color: #F4F4F4;
  padding-top: 2em;
  padding-bottom: 3em;
  text-align: center;
  margin: 0 -15px 0 -15px; }

.contact-wrapper {
  text-align: center; }
  .contact-wrapper p {
    margin-top: 1em; }

.footer {
  margin-top: 3em; }

#servicos,
#sobre,
#trabalhos,
#contato {
  padding-top: 60px;
  margin-top: -60px; }

/*
-----------------------------
BANNER
-----------------------------
*/
.heading {
  height: 100vh;
  background: #152532 url("../img/header.jpg") 500px -200px/500px 500px no-repeat fixed;
  background-size: 100%;
  color: #FFB016; }
  .heading h1 {
    font-size: 8vh;
    /* $banner-font-size */
    margin-bottom: 1em; }
  .heading .arrow {
    color: #FFB016;
    font-size: inherit;
    margin-right: 1em; }
  .heading a {
    color: inherit; }
  .heading .center-header {
    position: relative;
    margin-top: 20vh;
    /*5*/ }

/*
-----------------------------
NAVIGATION
-----------------------------
*/
nav {
  border-bottom: 1px solid #152532;
  position: relative;
  width: 100%; }
  nav .row {
    padding: 0 0 0 0; }
  nav ul {
    margin-top: 0.8em; }
    nav ul li a {
      color: #152532 !important;
      background: none !important; }
      nav ul li a:hover {
        color: inherit; }

.nav li.active a {
  background: none;
  border-bottom: 2px solid #FFB016;
  color: #152532;
  border-radius: 0; }
  .nav li.active a:hover {
    color: inherit;
    background: none !important; }

/* ADDED 19/01/15 - SCROLLSPY */
.stuck {
  background: none repeat scroll 0 0 #F4F4F4;
  position: fixed;
  top: 0;
  z-index: 999; }

.logo {
  margin: 20px 0; }

.visible-xs {
  margin-top: 1em; }

.icon-menu {
  font-size: 1.5em !important; }

/*
-----------------------------
INPUTS & BUTTONS
-----------------------------
*/
input,
textarea {
  border: 2px solid #152532 !important;
  background: transparent !important;
  color: #152532 !important; }

#btn-send {
  width: 100%;
  background: #152532 !important;
  color: #FFB016 !important;
  border-radius: 5px !important; }
  #btn-send:hover, #btn-send:active, #btn-send:focus {
    text-decoration: none !important; }

.btn-success,
.btn-success:hover,
.btn-success:focus {
  background: #FFB016 !important;
  border-color: #FFB016 !important;
  color: #152532; }

/*
-----------------------------
ICONS
-----------------------------
*/
span[class^=icon],
a[class^=icon] {
  font-size: 6em;
  color: #152532;
  text-decoration: none; }
  span[class^=icon]:hover, span[class^=icon]:active, span[class^=icon]:focus,
  a[class^=icon]:hover,
  a[class^=icon]:active,
  a[class^=icon]:focus {
    text-decoration: none !important; }

/*
-----------------------------
MODAL
-----------------------------
*/
.modal {
  color: #152532; }

/*
-----------------------------
TIPS
-----------------------------
*/
.tip {
  background: #FFB016;
  padding: 2.5em;
  position: relative;
  border-radius: 3px;
  width: 100%;
  text-align: center;
  margin-bottom: 1em; }
  .tip:before {
    position: absolute;
    display: inline-block;
    border-left: 20px solid transparent;
    border-top: 15px solid #FFB016;
    border-right: 20px solid transparent;
    left: 50%;
    margin-left: -20px;
    bottom: -15px;
    content: ""; }

.overlay {
  display: none; }

#my-photo {
  margin: 0 auto;
  margin-bottom: 1.2em;
  max-width: 50%; }

/*
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #parallax {
    background: black url("../img/parallax.jpg") no-repeat fixed center; }

  .heading h1 {
    font-size: 8vh;
    margin-bottom: .2em; }
  .heading .center-header {
    margin-top: 20vh;
    /* 10vh */ }

  .row h2 {
    font-size: 2em !important; }
  .row h3 {
    font-size: 1.6em; } }
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #parallax {
    background-size: 150%; }

  .heading h1 {
    font-size: 8vh;
    /* 5em */
    margin-bottom: .2em; }
  .heading .center-header {
    margin-top: 25vh;
    /* 15vh */ }

  .row h2 {
    font-size: 3em !important; }

  /*
  -----------------------------
  GALLERY
  -----------------------------
  */
  .thumbnail {
    position: relative;
    height: 100%;
    width: 100%; }
    .thumbnail:hover .overlay {
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      padding-top: 1em;
      top: 0;
      left: 0;
      opacity: 0.8;
      z-index: 4;
      transition: all 0.3s ease-in-out 0s;
      background: #FFB016; }

  .overlay {
    display: none; }

  #my-photo {
    max-width: 100%; } }
/* Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  body {
    line-height: 2em; }

  h1 {
    font-size: 2em; }

  nav ul {
    margin-top: 0.8em; }

  .heading h1 {
    font-size: 6em;
    margin-bottom: .2em; }
  .heading .center-header {
    margin-top: 33vh; }

  #parallax {
    background-size: 100%; }

  .row h2 {
    font-size: 4em !important; }
  .row .lead {
    margin-bottom: 2em; }

  .thumbnail:hover .overlay {
    padding-top: 2.3em; } }
/*
============================================
PAGE RESPONSIVE
============================================
*/
#test .parallax-responsive {
  background: black url("../img/parallax2.jpeg") no-repeat fixed center;
  /* 0 -100px/500px 100px no-repeat fixed; */
  background-size: 100%;
  color: #F4F4F4;
  text-align: center;
  padding-top: 4em;
  padding-bottom: 6em;
  height: 100vh; }
  #test .parallax-responsive .hilite {
    font-size: 2em;
    display: inline-block;
    margin-top: 0.3em;
    margin-bottom: 1em; }
  #test .parallax-responsive input {
    margin-top: 0.5em;
    width: 100%;
    padding: 0.3em 0.3em 0.3em 0.8em;
    background: #eee !important;
    font-size: 2em; }
#test .btn-responsive {
  width: 25%;
  margin-top: 2em;
  background: #FFB016 !important;
  color: #152532;
  padding: 0.6em 0.6em 0.6em 1.6em; }
#test .btn-link {
  color: #152532;
  background: #FFB016;
  margin-top: 2em; }
#test footer {
  margin: 2em 0 2em 0; }

.cta {
  background: url("../img/responsive-parallax.jpg") no-repeat fixed center; }

.center-cta {
  padding: 2em 0 4em 0; }

/*
============================================
PAGE RESPONSIVE 2
============================================
*/
#test2 .first-blue {
  padding: 3em 0 3em 0;
  background: #44A2C0;
  font-size: 1.5em; }
  #test2 .first-blue span {
    margin-top: .6em;
    display: inline-block; }
  #test2 .first-blue .hilite {
    font-size: 1.5em;
    color: #f4f4f4; }
#test2 .second-dark {
  background: #F4F4F4;
  color: #152532; }
  #test2 .second-dark div > p {
    font-size: 1.2em; }
  #test2 .second-dark .logos {
    margin-top: -1.5em; }
  #test2 .second-dark .amazon {
    margin-top: -1.5em; }
#test2 .third-yellow {
  background: #eee;
  color: #152532;
  text-align: center; }
  #test2 .third-yellow input {
    width: 70%;
    padding: 0.3em 0.3em 0.3em 0.8em;
    background: #eee !important;
    font-size: 2em; }
  #test2 .third-yellow .btn-responsive {
    width: 25%;
    margin-top: 2em;
    background: #152532;
    color: #f4f4f4;
    padding: 0.6em 0.6em 0.6em 0.6em;
    text-decoration: none; }
#test2 footer {
  padding: 2em 0; }
#test2 .btn-cta,
#test2 .btn-cta:hover,
#test2 .btn-cta:active,
#test2 .btn-cta:focus {
  text-decoration: none;
  color: #152532 !important;
  background: #FFB016 !important; }

/*# sourceMappingURL=output.css.map */
