/*
-----------------------------
COLORS
-----------------------------
*/
$primary-color: #152532;
$secondary-color: #FFB016;

$primary-background-color: #F4F4F4;
$secondary-background-color: #FFF;

$header-color: #FFB016;
$link-color: #FFB016;



/*
-----------------------------
FONTS
-----------------------------
*/
$title-font-family: "Ultra", serif;
$lead-font-family: "Bree Serif", serif;
$body-font-family: "Source Sans Pro", sans-serif;
$body-font-size: 14px;
$icon-size: 6em;
$banner-font-size: 5em;



/*
-----------------------------
GENERAL
-----------------------------
*/

body {
  font-family: $body-font-family;
  font-size: $body-font-size;
  background: $primary-background-color;
  color: $primary-color;
}

h1,
h2 {
  font-family: $title-font-family;
}

.lead,
h3 {
  font-family: $lead-font-family;
}

a:hover {
  text-decoration: none !important;
  background: none !important;
}

.row {
  padding: 4em 0 4em 0;
  
  h2 {
    font-size: 4em;
  }
  
  .lead {
    margin-bottom: 3em;
  }
}

.odd-row {
  background: $secondary-background-color;
}

.hilite {
  color: $secondary-color;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.parallax {
  background: black url('../img/responsive/parallax.jpg') no-repeat fixed center;
  background-size: 100%;
  color: $primary-background-color;
  padding-top: 2em;
  padding-bottom: 3em;
  text-align: center;
}

.contact-wrapper {
  text-align: center;
  
  p {
    margin-top: 15px;
  }
}

.footer {
  margin-top: 3em;
}



/*
-----------------------------
BANNER
-----------------------------
*/

.heading {
  min-height: 100vh;
  background: #152532 url('../img/responsive/download2.jpg') 500px -200px/500px 500px no-repeat fixed;
  background-size: 100%;
  color: $secondary-color;
  
  h1 {
    font-size: $banner-font-size;
  }
  
  .arrow {
    
  }
  
  a {
    color: inherit;
  }
  
  .center-header {
    position: relative;
    margin-top: 33vh;
  }
}



/*
-----------------------------
NAVIGATION
-----------------------------
*/

nav {
  border-bottom: 1px solid $primary-color;
  position: relative;
  width: 100%;
  
  .row {
    padding: 0 0 0 0;
  }
  
  ul {
    margin-top: 20px;
  }
}

.stuck {
  background: none repeat scroll 0 0 $primary-background-color;
  position: fixed;
  top: 0;
  z-index: 999;
}

.logo {
  margin: 20px 0;
}

/*
-----------------------------
INPUTS & BUTTONS
-----------------------------
*/

input,
textarea {
  border: 2px solid $primary-color !important;
}

#btn-send {
  width: 100%;
  background: $primary-color !important;
  color: $secondary-color !important;
  border-radius: 5px !important;
  
  &:hover {
    text-decoration: none !important;
  }
}

.btn-success,
.btn-success:hover {
  background: $secondary-color !important;
  border-color: $secondary-color !important;
  color: $primary-color;
}


/*
-----------------------------
ICONS
-----------------------------
*/

span[class^=icon],
a[class^=icon] {
  font-size: $icon-size;
  color: $primary-color;
}



/*
-----------------------------
TIPS
-----------------------------
*/

.tip {
  background: $secondary-color;
  padding: 2.5em;
  position: relative;
  border-radius: 3px;
  width: 100%;
  text-align: center;
  margin-bottom: 3em;
  
  &:before {
    position: absolute;
    display: inline-block;
    border-left: 20px solid transparent;
    border-top: 15px solid #FFB016;
    border-right: 20px solid transparent;
    left: 50%;
    margin-left: -20px;
    bottom: -15px;
    content: "";
  }
}